#menu{
    font-size: 20px;
    position: fixed;
    height: 100vh;
    width: 24%;
    background-color: #081828;
    z-index: 900;
    margin-left: -24%;
    transition: margin .5s;
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
}
#shdwMenu{
    background-color: rgba(0,0,0, 0.5);
    z-index: 800;
    width: 100%;
    height: 100%;
    position: fixed;
    height: 100%;
    display: none;
}
#menu>ul{
    display: flex;
    padding: 0 15%;
    flex-direction: column;
}
#menu>ul>li{
    border-bottom: 1px solid #152433;
}
#menu ul ul{  
    height: 42px;
    display: flex;
    align-items: center;
}
.bttn{
    margin: 10px 0;
    height: 32px !important;
}
.bttn:hover{
    cursor: pointer;
    background-color: #152433;
}
#menu ul ul li:nth-child(odd){
    margin-right: 15px;
}
#following-menu{
    overflow-y: auto;
}

#following-menu::-webkit-scrollbar {
    width: 1%;
    height: 1px;
}
 
#following-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#following-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}